/*! Custom styles for this template */

body {
    display: table;
    height: 100%;
    min-height: 600px;
    position: absolute;
    width: 100%;
    background: #f7f7f7 url(imges/login-bg.html);
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



.page-container {
    position: relative
}

@media (min-width:769px) {
    .page-container {
        width: 100%;
        display: table;
        table-layout: fixed
    }
    @-moz-document url-prefix() {
        .page-container {
            height: 1px
        }
    }
}

.login {
    display: table-cell;
    vertical-align: middle
}

.login-body {
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    padding: 30px
}

.login-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px
}

.login-heading {
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: center
}

.login-footer {
    bottom: 0;
    font-size: 11px;
    position: absolute;
    text-align: center;
    width: 100%
}

.list-inline {
    text-align: center
}
.login-footer .list-inline li,
.login-footer .list-inline a {
    text-align: center;
    font-size: 12px;
}